{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <h1 data-module="example">{{ message }}</h1>
  <div class="box"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam libero molestiae enim ipsam, ab illo illum, laborum rerum perferendis velit deserunt doloribus eius repellendus autem minus, dicta eaque delectus ea, esse amet maxime dignissimos nobis. Nesciunt iste odio iure ipsum voluptatem vel, voluptatibus asperiores! Accusamus quos, distinctio at, similique debitis qui! Quis quas culpa suscipit incidunt dolorem in tempora asperiores, atque accusantium aliquam doloribus architecto, explicabo, consequatur esse! Laboriosam, recusandae, explicabo. Rerum dolor earum error quod enim beatae ex explicabo magni corporis! Eveniet reprehenderit sint laboriosam iusto cumque, incidunt, accusamus, nostrum ex assumenda, voluptate non. Ut officiis ad ducimus sit.</p></div>
  <div class="box"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor aut illo repellendus sequi, reprehenderit tenetur necessitatibus culpa. Unde magni veniam est ex vero nostrum id soluta esse vel eligendi libero, dignissimos, molestiae reprehenderit sapiente optio pariatur quibusdam ullam impedit explicabo nulla doloribus, at autem omnis repudiandae error! Quos libero nesciunt iure repudiandae quibusdam rerum laboriosam nulla alias nostrum modi accusamus, dolores dicta veritatis cupiditate ut vitae! Iure necessitatibus, delectus alias illo nostrum consectetur saepe doloribus quo! Molestiae quae adipisci ab dolorem veritatis! Eaque, ipsa temporibus laudantium, in quas sed non fuga numquam neque eos est consectetur rem unde veniam quaerat!</p></div>
{% endblock %}
